@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "vazir";
  src: url("../public/fonts/vazir/Vazir-FD-WOL.eot");
  src: url("../public/fonts/vazir/Vazir-FD-WOL.eot") format("embedded-opentype"),
    url("../public/fonts/vazir/Vazir-FD-WOL.woff2") format("woff2"),
    url("../public/fonts/vazir/Vazir-FD-WOL.woff") format("woff"),
    url("../public/fonts/vazir/Vazir-FD-WOL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "vazir";
  src: url("../public/fonts/vazir/Vazir-Medium-FD-WOL.eot");
  src: url("../public/fonts/vazir/Vazir-Medium-FD-WOL.eot")
      format("embedded-opentype"),
    url("../public/fonts/vazir/Vazir-Medium-FD-WOL.woff2") format("woff2"),
    url("../public/fonts/vazir/Vazir-Medium-FD-WOL.woff") format("woff"),
    url("../public/fonts/vazir/Vazir-Medium-FD-WOL.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "vazir";
  src: url("../public/fonts/vazir/Vazir-Bold-FD-WOL.eot");
  src: url("../public/fonts/vazir/Vazir-Bold-FD-WOL.eot")
      format("embedded-opentype"),
    url("../public/fonts/vazir/Vazir-Bold-FD-WOL.woff2") format("woff2"),
    url("../public/fonts/vazir/Vazir-Bold-FD-WOL.woff") format("woff"),
    url("../public/fonts/vazir/Vazir-Bold-FD-WOL.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "vazir";
  src: url("../public/fonts/vazir/Vazir-Light-FD-WOL.eot");
  src: url("../public/fonts/vazir/Vazir-Light-FD-WOL.eot")
      format("embedded-opentype"),
    url("../public/fonts/vazir/Vazir-Light-FD-WOL.woff2") format("woff2"),
    url("../public/fonts/vazir/Vazir-Light-FD-WOL.woff") format("woff"),
    url("../public/fonts/vazir/Vazir-Light-FD-WOL.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

.cover-card-home {
  background: url(../public/assets/images/bg-img-home.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-banner-head {
  background: url(../public/assets/images/banner-home.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  font-family: "vazir";
}

.icon {
  @apply w-5;
  @apply h-5;
}
